# Fișiere obiect generate de compilator
*.o
*.obj

# Executabile
*.exe

# Fișiere temporare și de backup
*~
*.bak
*.tmp

# Directoare generate
bin/
obj/

# Fișiere specifice IDE-urilor sau editorilor
.vscode/
.idea/
*.swp
*.swo

# Fișiere specifice sistemului
.DS_Store
Thumbs.db